@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('./variables/base.scss');

@layer reset,primereact,base;

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    font-family: 'Roboto Mono', serif;
  }
  body {
    height: 100vh;
  }
  #root {
    height: inherit;
  }

  :root {
    --header-height: 60px;
  }
}
