.ind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-title {
    color: white;
    font-size: 28px;
  }
  &-video {
    width: 600px;
    height: 500px;
  }
}
