.ind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;

  &-title {
    color: black;
    font-size: 28px;
  }
  &-video {
    width: 600px;
    height: 500px;
  }
}

.frame {
  margin-top: 20px;
}
