.ind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  &-title {
    color: white;
    font-size: 28px;
  }
  &-video {
    width: 600px;
    height: 500px;
  }
}

.frame {
  margin-top: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.image {
  width: 250px;
}
