:root {
  --color-purple: #743799;
  --color-pink: #e16bba;
  --color-light-orange: #feba7b;

  // background
  --color-background-primary: #d8d8d8;
  --color-background-stroke: #f3f3f3;

  // text
  --color-text-primary: #000000;
  --color-text-secondary: #b8b8b8;
  --color-text-tertiary: #b6b6b6;
  --color-text-accent: #0066ff;
  --color-text-white: #ffffff;

  // border
  --color-border-primary: #d9d9d9;
}

:root {
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-caption1: 12px;
  --font-size-title-h1: 36px;
  --font-size-title-h3: 30px;
}
