.app {
  position: relative;
  height: 100%;
  column-gap: 20px;
  justify-content: center;
  overflow-y: auto;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-background-stroke);
    border-radius: 6px;
  }
}

.app-page {
  max-width: 1000px;
  z-index: 2;
  margin: 0 auto;
}

.app-title {
  font-size: 32px;
  font-style: italic;
}

.app-header {
  padding: 10px;
  z-index: 3;
  position: sticky;
  top: 0;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  max-width: max-content;
  background-color: var(--color-text-white);
}

.footer {
  width: 100%;
  position: fixed;
  z-index: 2;
  bottom: 0;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  font-size: var(--font-size-caption1);
  color: white;
}
