.uemk {
  &-title {
    font-size: 34px;
    color: black;

    text-align: center;

    &-kurs {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 28px;
      color: black;
      text-align: center;
    }
    &-block-kurs {
      text-align: center;
      color: black;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  &-desciption {
    margin-top: 8px;
  }
  &-lecture {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: start;
    &-wrapper {
      margin-bottom: 20px;
      margin-top: 20px;
      background-color: rgba($color: #c9c9c9, $alpha: 0.2);
    }

    &-title {
      text-align: left;
      color: black;
    }
    &-sub-title {
      text-align: left;
      color: black;
    }
    &-icon {
      width: 16px;
      margin-right: 4px;
    }
  }
}
.sendDok {
  width: 400px;
  height: 300px;
}

.authour {
  text-align: center;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.block {
  height: 20px;
}

.uemkDesciptionWrapper {
  background-color: rgba($color: #c9c9c9, $alpha: 0.2);
}
