.biography {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.article {
  display: flex;
  padding: 15px;
  flex-direction: column;
  border: 1px solid #42aaff;
  border-radius: 10px;
  row-gap: 10px;
  box-shadow: 0 0 4px 6px #002f55;

  &-body {
    text-align: 'justify';
  }
}
