.biography {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: white;
}

.article {
  display: flex;
  padding: 15px;
  flex-direction: column;
  border-radius: 10px;
  row-gap: 10px;
  background-color: #121212;
  color: white;

  &-body {
    text-align: 'justify';
  }
}

.articleWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.image {
  width: 250px;
}
